# конфигурация веб-сервера
server {
    # порт, который будет слушать веб-сервер в ожидании запросов от пользователй
    listen      8080;
    # доменное имя
    server_name     localhost; # замените на собственный домен или IP адрес
    charset     utf-8;

    # максимальный размер загружаемых на сервер данных
    client_max_body_size 75M;

    location / {
        proxy_pass http://127.0.0.1:50051;
    }
}